<%- include ("./partials/head") %>
<%- include ("./partials/header") %>
<div class="container">
    <h1>T-Shirt Designer</h1>
    <a class="button" href="/shirt_maker">Start!</a>
</div>
<div class="saved">
    <h2>Your saved T-Shirts:</h2>
    <div class="saved_items">
        
    </div>
</div>
<%- include ("./partials/footer") %>