<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<div class="container">
    <h1>T-Shirt Designer</h1>
    <a class="button" href="/shirt_maker">Start!</a>
</div>
<%- include("./partials/footer.ejs") %>