<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<div class="wrapper">
    <div class="shirt">
        <img src="img/black.png" alt="">
        <h2>A black T-shirt</h2>
    </div>
    <div class="info">
        <form action="">

        </form>
    </div>
</div>
<%- include("./partials/footer.ejs") %>